<h1>Home</h1>

<div>
    {{#each products}}
        <div class="card">
            <p> {{this.title}} </p>
            <p> {{this.description}}  </p>
            <p> {{this.price}} </p>
        </div>
    {{/each}}
</div>