<h1> hola {{usuario.nombre}} bienvenido a la pagina roja</h1>
{{>card}}


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/main.js"></script>
