<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> tarjeta blanca</h5>
    <p class="card-text">para aprobar esta pagina funcional.</p>
    <a href="#" class="btn btn-primary"> aprobar </a>
  </div>
</div>
